<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
</head>
<body>
    <h1>Send Name</h1>
    <form method='post' action='/'>
        <input name="name" placeholder='Ismingizni kiriting' />
        <button type='submit'>Send Name</button>
    </form>
    <hr>
    <div>
        <a href="/about">About</a>
    </div>
    <div>
        <a href="/contact">Contact</a>
    </div>
</body>

</html>